<!DOCTYPE html>
<html>
  <head>
    <title>WCT Image Emporium</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body>
    <div id="root"></div>
  </body>

  <% if !@current_user.nil? %>
    <script>window.wctAuthenticated = true;</script>
  <% end %>

  <%= javascript_include_tag get_bundle_asset_location %>
</html>
